* {
  box-sizing: border-box;
}
.title {
  font-size: 2rem;
  margin-top: 30px;
}

.dash {
  @include displayFlex(center, center, column);
  float: center;
  margin: auto;
  width: 100vw;
  height: 85%;

  .items-list {
    @include displayFlex(center, center, column);
    text-align: center;
    font-size: 1rem;
    position: relative;
  }

  .house-chart {
    position: relative;
    width: 170;
    height: 220;
  }

}
.main-charts {
  @include displayFlex(center, center, row);
  margin: auto;

   .see-charts {
     height: 25px;
     width: 200px;
     margin: 5px;
     padding: 1px;
     box-shadow: 2px 3px 3px #00000049;
     border-radius: 5px;
   }
   .close-btn {
    height: 25px;
    width: 200px;
    margin: 5px;
    padding: 1px;
    box-shadow: 2px 3px 3px #00000049;
    border-radius: 5px;
   }
}

.cast-votes {
  @include displayFlex(center, center, column);
   }
 
.check-box {
  margin: 10px;
}

.close-btn {
  height: 25px;
  width: 100px;
  margin: 5px;
  padding: 1px;
  box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}

// small screens 

.dash{
  @media (max-width: 800px){
    @include displayFlex(center, center, column);
    width: 100vw;
    // margin-left: 20%;
    .items-list{
      font-size: .6rem;
    }


    .main-charts {
      @include displayFlex(center, center, column);
      // margin: auto;
      width: 100vw;
    
       .see-charts {
         height: 25px;
         width: 150px;
         margin: 5px;
         padding: 1px;
         box-shadow: 2px 3px 3px #00000049;
         border-radius: 5px;
       }
       
       .house-chart {
        position: relative;
        width: 200px;
        height: 220;
      }
       
       .close-btn {
        height: 25px;
        width: 100px;
        margin: 5px;
        padding: 1px;
        box-shadow: 2px 3px 3px #00000049;
        border-radius: 5px;
       }

       .full-d {
         height: 500px;
         width: 700px;
         border: 1px solid black;
       }
    }
  }
}


