// testing popup
*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 400ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-image: linear-gradient(to right, #d7d2cc 0%, #888e92 100%);   
  // width: 90%;
  max-width: 100%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


// after testing pop up
// .left-nav {
//   height: 100vh;
//   width: 200px;
//   right: 1;
//   position: fixed;
//   background-color: rgb(131, 131, 131);
//   padding-top: 6%;
// }

.see-votes {
  height: 25px;
  width: 150px;
  margin: 5px;
  padding: 1px;
  box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}

// .my-rep-charts{
//   position: relative;
//   width: 200px;
//   height: 175px;
// }

@media (max-width: 800px){
  .modal{
  width: 90%;
  }
  // .left-nav {
  //   width: 135px;
  // }
  // .see-votes {
  //   width: 80px;
  //   height: 40px;
  // }

  // .my-rep-charts{
  //   position: relative;
  //   width: 135px;
  //   height: 300px;
  // }
}