.left-nav {
  height: 100vh;
  width: 200px;
  right: 1;
  position: fixed;
  background-color: rgb(131, 131, 131);
  padding-top: 6%;
}

.see-votes {
  height: 25px;
  width: 150px;
  margin: 5px;
  padding: 1px;
  box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}

.my-rep-charts{
  position: relative;
  width: 200px;
  height: 175px;
}

@media (max-width: 800px){
  .left-nav {
    width: 135px;
  }
  .see-votes {
    width: 80px;
    height: 40px;
  }

  .my-rep-charts{
    position: relative;
    width: 135px;
    height: 300px;
  }
}