$button-color: red;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.welcome-text {
  text-align: center;
  padding-top: 10%;
  color: rgb(34, 34, 34);
  font-size: 3rem;
  font-family: monospace;
}
.navigation {
  height: 50px;
  width: 100vw;
  background-color: rgb(131, 131, 131);

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
  }

  .nav-items-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .user-name {
    margin-right: 10%;
  }

  .name {
    color: rgb(240, 140, 207);
  }
}
.logout-btn-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-btn {
  color: $buttonColor;
  text-decoration: none!important;
  height: 25px;
  width: 80px;
  margin: 5px;
  padding: 1px;
  box-shadow: 1px 2px 3px #00000036;
  border-radius: 5px;

  .log-btn {
    text-decoration: none!important;
    color: black;
  }
  
}
//tablet size
@media (max-width: 800px){
  .welcome-text {
    text-align: center;
    padding-top: 10%;
    color: rgb(34, 34, 34);
    font-size: 2.3rem;
    font-family: monospace;
  }
}

//phone size
@media (max-width: 500px){
  .welcome-text {
    text-align: center;
    padding-top: 10%;
    color: rgb(34, 34, 34);
    font-size: 1.3rem;
    font-family: monospace;
  }
}