
.App {
  text-align: center;
  background-color: #282c34;
  background: linear-gradient(#e66465, #9198e5);

}

.dash {
  height: 100%vh;
}


// .items-list {
//   color: blue;
// }
// .house-voters {
//   text-decoration: none;
//   color: #bec0c4;
// }


// .rep-btn {
//   margin: 2%;
// }