/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#969595), to(#e7e7e7));
  background-image: linear-gradient(#969595, #e7e7e7);
}

.login-form {
  height: 80%;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.login-form .inner-form {
  height: 50%;
  padding: 80px 50px;
  -webkit-box-shadow: 1px 1px 10px #0000008e;
          box-shadow: 1px 1px 10px #0000008e;
  border-radius: 5px;
  background-color: #aaaaaa67;
  border: 1px solid black;
  margin: auto;
}

.login-form .input-field {
  border: .2px solid black;
  height: 25px;
  width: 200px;
  margin: auto;
  padding: 1px;
  -webkit-box-shadow: 2px 3px 3px #00000049;
          box-shadow: 2px 3px 3px #00000049;
  border-radius: 3px;
}

.login-form .state-btn {
  height: 25px;
  width: 200px;
  margin: 5px;
  padding: 1px;
  -webkit-box-shadow: 2px 3px 3px #00000049;
          box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}

.login-form .login-btn {
  height: 25px;
  width: 100px;
  margin: 5px;
  padding: 1px;
  -webkit-box-shadow: 2px 3px 3px #00000049;
          box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.welcome-text {
  padding-top: 5%;
  color: #222222;
  font-size: 1.3rem;
}

.navigation {
  height: 50px;
  width: 100vw;
  background-color: #838383;
}

.navigation .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3%;
}

.navigation .nav-items-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .user-name {
  margin-right: 10%;
}

.navigation .name {
  color: #f08ccf;
}

.logout-btn-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logout-btn {
  color: #dbdbdb;
  text-decoration: none !important;
  height: 25px;
  width: 80px;
  margin: 5px;
  padding: 1px;
  -webkit-box-shadow: 1px 2px 3px #00000036;
          box-shadow: 1px 2px 3px #00000036;
  border-radius: 5px;
}

.logout-btn .log-btn {
  text-decoration: none !important;
  color: black;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-image: -webkit-gradient(linear, left top, right top, from(#d7d2cc), to(#888e92));
  background-image: linear-gradient(to right, #d7d2cc 0%, #888e92 100%);
  max-width: 90%;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.see-votes {
  height: 25px;
  width: 150px;
  margin: 5px;
  padding: 1px;
  -webkit-box-shadow: 2px 3px 3px #00000049;
          box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .modal {
    width: 90%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-size: 2rem;
  margin-top: 30px;
}

.dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  float: center;
  margin: auto;
  width: 100vw;
  height: 85%;
}

.dash .items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  font-size: 1rem;
  position: relative;
}

.dash .house-chart {
  position: relative;
  width: 170;
  height: 220;
}

.main-charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: auto;
}

.main-charts .see-charts {
  height: 25px;
  width: 200px;
  margin: 5px;
  padding: 1px;
  -webkit-box-shadow: 2px 3px 3px #00000049;
          box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}

.main-charts .close-btn {
  height: 25px;
  width: 200px;
  margin: 5px;
  padding: 1px;
  -webkit-box-shadow: 2px 3px 3px #00000049;
          box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}

.cast-votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.check-box {
  margin: 10px;
}

.close-btn {
  height: 25px;
  width: 100px;
  margin: 5px;
  padding: 1px;
  -webkit-box-shadow: 2px 3px 3px #00000049;
          box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .dash {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100vw;
  }
  .dash .items-list {
    font-size: .6rem;
  }
  .dash .main-charts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100vw;
  }
  .dash .main-charts .see-charts {
    height: 25px;
    width: 150px;
    margin: 5px;
    padding: 1px;
    -webkit-box-shadow: 2px 3px 3px #00000049;
            box-shadow: 2px 3px 3px #00000049;
    border-radius: 5px;
  }
  .dash .main-charts .house-chart {
    position: relative;
    width: 200px;
    height: 220;
  }
  .dash .main-charts .close-btn {
    height: 25px;
    width: 100px;
    margin: 5px;
    padding: 1px;
    -webkit-box-shadow: 2px 3px 3px #00000049;
            box-shadow: 2px 3px 3px #00000049;
    border-radius: 5px;
  }
  .dash .main-charts .full-d {
    height: 500px;
    width: 700px;
    border: 1px solid black;
  }
}

.footer-info {
  font-size: .7rem;
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
}
/*# sourceMappingURL=App.css.map */