@import "reset.scss";
@mixin displayFlex($justify, $align, $flexFlow){
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $flexFlow;
}

.dash {
  @include displayFlex(center, center, column);

  .items-list {
    width: 800px;
    margin-bottom: 3%;
    color: rgb(53, 53, 53);
  }

}
.main-charts {
  @include displayFlex(flex-end, flex-end, row);
  width: 40vw;
  height: 30vh;

   .see-charts {
     height: 25px;
     width: 200px;
     margin: 5px;
     padding: 1px;
     box-shadow: 2px 3px 3px #00000049;
     border-radius: 5px;
   }
   .cast-votes {
  @include displayFlex(center, center, column);
   }
}


