@import "reset.scss";
.dash {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  .items-list {
    width: 800px;
    margin-bottom: 3%;
    color: rgb(53, 53, 53);
  }

}
.main-charts {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  // margin-left: 5%;
  width: 40vw;
  height: 30vh;

   .see-charts {
     height: 25px;
     width: 200px;
     margin: 5px;
     padding: 1px;
     box-shadow: 2px 3px 3px #00000049;
     border-radius: 5px;
   }
   .cast-votes {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }
}


