@mixin displayFlex($justify, $align, $flexFlow){
  display: flex;
  justify-content: $justify;
  align-items: $align;
  // flex-flow: $flexFlow;
}

.login-form {
  height: 50%;
  @include displayFlex(center, center, row);
}

.input-field {
  // background-color: rgb(207, 204, 204);
  border: .2px solid black;
  height: 25px;
  width: 200px;
  margin: 5px;
  padding: 1px;
  box-shadow: 2px 3px 3px #00000049;
  border-radius: 3px;
}

.state-btn {
  height: 25px;
  width: 200px;
  margin: 5px;
  padding: 1px;
  box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}


.login-btn {
  height: 25px;
  width: 100px;
  margin: 5px;
  padding: 1px;
  box-shadow: 2px 3px 3px #00000049;
  border-radius: 5px;
}